:root {
  --primary-color: #d5f9ff;
  --secondary-color: #ffffff;
  --accent-color: #0c7c59;
  --dark-color: #1d3557;
  --text-color: #333333;
  --background-color: #ffffff;
  --gray-color: #e5e5e5;
}
