/* #admin ul {
  width: 50%;

  margin: auto;
  display: flex;
  justify-content: space-around;
  list-style: none;
} */
/* #admin ul li a {
  text-decoration: none;
  padding: 1rem;
  display: block;
  border-bottom: 1px solid black;
} */
