#social a {
  color: white;
  padding: 0rem 2rem 1rem 2rem;
  display: inline-block;
}
footer {
  position: relative;
  width: 100%;
  bottom: 0;
  background-color: black;
  padding-top: 5rem;
  text-align: center;
  height: 100%;
}
#footer-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}
#footer-content a,
#footer-content h3 {
  color: white;
}
#footer-content h3 {
  padding-bottom: 1rem;
}
#footer-content ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
#social {
  padding-top: 1rem;
}
footer h5 {
  color: white;
}

footer i {
  color: white;
  font-size: 2rem;
}
#footer-content {
  height: 100px; /* height + top/bottom paddding + top/bottom border must add up to footer height */
}

@media (min-width: 768px) {
  #footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
  }
  #footer-content ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    /* justify-content: unset; */
    padding: 3rem;
  }
  #footer-content a {
    width: fit-content;
    white-space: nowrap;
  }

  .box .row.footer {
    flex: 0 1 350px;
  }
}

@media (min-width: 1200px) {
  .box .row.footer {
    flex: 0 1 350px;
  }

  #footer-content {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 3rem;
    justify-items: center;

    justify-content: center;
  }
}
