.how-to-content {
  padding: 3rem 2rem;
}
.how-to-content h3 {
  padding: 2rem 0rem;
}
.how-to-content ul {
  list-style: none;
  text-align: start;
}
.how-to-content a {
  display: initial;
  color: blue;
}
.how-to-content ul li {
  text-align: start;
  text-align: start;
  padding: 1rem 0rem;
  font-weight: lighter;
}
.how-to-content p {
  padding: 2rem 0rem;
  font-weight: 700;
}
