/* // X-Small devices (portrait phones, less than 576px) */
#shop-flex {
  position: relative;
  display: grid;
}
#shop {
  position: relative;
  padding: 2rem 1rem;
}
.close-btn {
  position: absolute;
  right: 0;
  transform: translateX(-50%);
  cursor: pointer;
}
.product-img {
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.flex-around {
  display: flex;
  justify-content: space-around;
}
.product-img img {
  width: 100%;
  aspect-ratio: 1;
}
.product-img > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}

.product-img-slides {
  display: flex;
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  scroll-snap-points-x: repeat(100%);
  scroll-snap-type: mandatory;
}

#shop-flex h1 {
  padding: 2rem 0rem;
}
.size-selection div {
  margin: 4px 0px;
}
.selected-size {
  border: 1px solid black !important;
}
.size {
  display: flex;
  justify-content: space-evenly;
  margin: 6px;
}
.size small:hover {
  cursor: pointer;
}
.size small {
  border: 1px solid;
  display: block;
  background-color: black;
  color: white;
  font-size: 14px;
  min-width: 16;
  height: 16;
  border-radius: 16px;
  line-height: 16px;
  padding: 4px;
  border: 1px solid #b3b3b3;
}
#products {
  grid-row: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}
#products-index {
  grid-row: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}
#products {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}
body {
  overflow-x: hidden;
}

.product {
  width: 100%;
  aspect-ratio: 1;
}
.prod-details {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  transform: translateY(-100%);
}
.prod-details h5,
.prod-details h4 {
  padding: 0.5rem 0rem;
  color: white;
}

.product-admin-img {
  width: 48px;
  aspect-ratio: 1;
}
#catalog-categories {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.animated-border li {
  font-size: 1.25rem;
  border: none;
  position: relative;
}
.animated-border li a {
  padding: 1rem 0.75rem;
  display: block;
  text-decoration: none;
}
.animated-border li:hover {
  border: none;
}
.animated-border li::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 2px;
  left: 50%;
  bottom: 0;
  background-color: #373737;
  transition: all ease-in-out 0.2s;
}
.animated-border li:hover::after {
  width: 100%;
  left: 0;
}
.product {
  grid-column: 1 span;
  position: relative;
  border: 1px solid rgb(219, 219, 219);
}

.cart-item {
  display: flex;
  justify-content: space-around;
}

.cart-item div {
  margin: 0.2rem 0.1rem;
  text-align: start;
  text-transform: uppercase;
}
.car-item span small {
}
.cart-item span {
  display: block;
  font-size: 14px;
  font-weight: bold;
}
.cart-item small {
  color: #373737;
  font-weight: lighter;
}
.cart {
  border-radius: 24px;
  margin-top: 3rem;
  position: fixed;
  right: 0;
  padding: 1rem 1rem;
  transform: rotate(90);
  max-width: 100%;
  z-index: 1;
  right: 0;
  background-color: #eae7e7;
  transition: all 0.5s ease;
  box-sizing: border-box;
}

div {
  box-sizing: border-box;
}
.cart img {
  width: 75px;
  border-radius: 24px;
}
.hidden {
  right: 0;
  transform: translateX(100%);
}

.cart-icon {
  border-bottom-left-radius: 24px;
  border-top-left-radius: 24px;
  z-index: 1;
  margin-top: 3rem;
  background-color: black;
  color: white;
  font-weight: bold;
  position: fixed;

  right: 0;
}

.cart-icon span {
  padding: 2px;
  height: fit-content;
  width: fit-content;

  border-radius: 50%;
  display: inline-block;
  background-color: white;
  color: rgb(0, 0, 0);
}
.cart-icon a {
  white-space: nowrap;
  text-decoration: none;
  display: block;
  padding: 3rem 0.5rem;
  text-orientation: inherit;
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
}
.cartItems {
  font-size: 16px;
}
.close-cart {
  position: absolute;
  right: 10px;
  top: 10px;
}
.summary {
  padding-top: 1rem;
  font-size: 26px;
}
.summary h5 {
  padding: 1rem 0rem;
  text-transform: uppercase;
  border-top: 2px solid;
}
.summary a {
  display: block;
  background: black;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 0.5rem 0rem;
}
.cart th {
  background-color: transparent;
  padding: 0rem 0.5rem;
}
.cart-item {
}

.product small {
  color: black;
  background-color: white;
}
#buy-container {
  display: flex;
  justify-content: space-between;
  background-color: white;
}
#buy-container span {
  background-color: white;
  padding: 0.75rem;
  display: inline-block;

  white-space: nowrap;
}
.quantity-selector {
  background-color: white;
  display: flex;
  justify-content: center;
}
.quantity-selector span {
  padding: 1rem 1rem;

  white-space: nowrap;
}
.product-admin-category,
.product-admin-tags {
  position: relative;
}
.product a {
  text-transform: uppercase;
  position: relative;
  display: block;
  max-width: 100%;
  font-size: 14px;
  padding: 0.75rem;
  background-color: white;
  font-weight: bold;
  border: 1px solid #eae7e7;
  text-decoration: none;
}

.product a:hover {
  background-color: #eae7e7;
  border: 1px solid white;
}
.product img {
  position: relative;
  max-width: 100%;
  aspect-ratio: 1;
}
.product img:hover {
  position: relative;
  max-width: 100%;
  -webkit-box-shadow: 0px 0px 30px -1px #797979;
  box-shadow: 0px 0px 10px -1px #797979;
}
#products-index {
  display: flex;
  justify-content: center;
  margin: 2rem 0rem;
}
#products-index li {
  background-color: #f7f6f6;
  margin: 0.25rem;
  border: 1px solid #eae7e7;
}
#products-index li a {
  padding: 1.5rem;
  display: block;
}
#products-index li:hover {
  background-color: #eae7e7;
}
.product-details-size {
  background: #d1d1d180;
  border-radius: 12px;
  font-weight: bold;
  padding: 0.5rem;
  border: 1px solid #cbcbcb;
  width: fit-content;
  margin: auto;
}

p {
  word-wrap: break-word;
}

.prod-link {
  padding: 0 !important;
}
.quantity-selected-details {
  border: 1px solid black;
}
.quantity-selector-details {
  display: flex;
  justify-content: center;
}

.quantity-selector-details span {
  background-color: white;
  padding: 0.75rem;
  display: inline-block;
}
.quantity-selector-details a,
.quantity-selector-details span {
  padding: 1rem;
  border-radius: 12px;
}
.prod-details-buy a {
  white-space: nowrap;
  display: block;
  background: #0db90ac4;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 100%;
  padding: 1rem;
  font-size: 22px;
  border-radius: 12px;
}
.prod-details-price {
  font-size: 22px;
  font-weight: bold;
  padding: 1rem;
  white-space: nowrap;
}
.quantity-selector-details a {
  padding: 1rem;
  font-weight: bold;
  height: fit-content;
}
.quantity-selector-details a:nth-child(1) {
  background: #ff0b0bba;
}
.quantity-selector-details a:nth-child(3) {
  background: #0db90ac4;
}
#buy-container-details {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 2rem;
  margin: 0rem 2rem;
}
.details-field h4 {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgb(219 219 219);
  margin: 0rem 2rem 1rem 2rem;
}

.details-field small {
  padding: 0.5rem;
  /* background-color: #e8e8e800; */
  background: #d1d1d180;
  width: fit-content;
  border-radius: 12px;
  color: black;
  text-transform: uppercase;
  height: fit-content;
}
.product-details-pills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-items: center;
  gap: 1rem;
  padding: 2rem 0rem;
}

#prod-details-image {
  border-radius: 24px;
  box-sizing: border-box;
  overflow: hidden;
}
.product-details-price p {
  font-size: 24px;
  text-transform: bold;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
.product-details {
  padding: 2rem 1rem;
  display: grid;
  grid-template-areas:
    "title title"
    "image image"
    "image image"
    "description description"
    "tags tags"
    "category category"
    "size size"
    "price price"
    "quantity quantity"
    "total total"
    "buy buy";

  gap: 2rem;
}
.prod-details-buy {
  grid-area: buy;
}
.category {
  grid-area: category;
}
.quantity-selector-details {
  grid-area: quantity;
}
.product-details-total {
  grid-area: total;
}
.product-details-title {
  grid-area: title;
}
#prod-details-image {
  grid-area: image;
}

.product-details-tags {
  grid-area: tags;
}
.product-details-price {
  grid-area: price;
}

.sizes {
  grid-area: size;
}

.sizes div:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  justify-content: center;
}
#buy-container-details {
  grid-area: acction;
}
.description {
  grid-area: description;
  overflow-x: hidden;
}
.product-details-size small {
  font-weight: lighter !important;
  border: none !important;
  background-color: transparent !important;
  font-size: 10px;
}

#product-details {
  padding: 2rem;
}

#product-details .tags,
#product-details .sizes {
  margin: 0rem 2rem 0rem 2rem;

  border-top: 1px solid #d5d5d5;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
#product-details .tags div,
#product-details .sizes div {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

#product-details small {
  color: black;
  background-color: white;
  text-transform: uppercase;
  padding: 6px 12px;
  display: block;
  border-radius: 12px;
  width: fit-content;
  font-weight: bold;
  border: 1px solid black;
}
#product-details h1 {
  border-bottom: 1px solid black;
  margin: 0 2rem 0rem 2rem;
  padding: 0rem 2rem 1rem 2rem;
}
#product-details > div {
  padding: 3rem 0rem;
  display: grid;
  grid-template-columns: 50% 50%;
}
#prod-details-image {
  position: relative;
  aspect-ratio: 1;
}
.images-slider {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #0c0c0c6b;
  display: grid;
  grid-template-columns: repeat(5, minmax(50px, 1fr));
  gap: 0.5rem;
  padding: 0.5rem;
}

.selected {
  border: black;
  scale: 1.1;
}

.info {
  font-size: 10px !important;
  border: none !important;
  margin: auto;
}

#prod-details-image img {
  width: 100%;
}
.prod-details-table-img {
  width: 100%;
  text-align: center;
  overflow: hidden;
}
.prod-details-table-img img {
  width: 100%;
  aspect-ratio: 1;
}
.prod-details-table-img > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}

.prod-details-slides {
  display: flex;
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  scroll-snap-points-x: repeat(156px);
  scroll-snap-type: mandatory;
}

.product-admin {
  padding: 0.5rem;
  border: 1px solid #c9c9c9;
  border-radius: 12px;
  margin: 1rem 0rem;
}

.product-admin label {
  color: black;
  padding: rem;
  display: block;
  padding: 0.5rem;
  text-align: start;
}
.product-admin input:not(:disabled),
.product-admin textarea:not(:disabled) {
  background-color: rgb(245 245 245);
  border-radius: 4px;
  border: 1px solid rgb(102, 102, 102);
}

.product-admin input::placeholder,
.product-admin textarea::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: rgb(119, 119, 119);
  font-weight: lighter;
  font-size: 14px;
}

.product-admin input:focus,
.product-admin textarea:focus {
  border: 1px solid #9898ff;
}
.admin-product-btn-new {
  background-color: green;
  padding: 0.5rem;
  margin: 0.5rem;
  width: fit-content;
  right: 0;
  /* margin-right: 0; */
  color: white;
  border-radius: 6px;
}
.stock-btn {
  display: block;
  background: #fffa00;
  height: fit-content;
  padding: 0.2rem;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
.product-admin > div > div {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 0.5rem;
}
.product-admin textarea {
  width: 100%;
  text-align: start;
  padding: 0.5rem 0.5rem;
  box-sizing: border-box;
}
.product-admin-action {
  grid-template-columns: repeat(3, 1fr);
  display: flex !important;
  justify-content: space-around;
}
.product-admin-upload {
  padding: 0.5rem 0rem;
}
.admin-image-main input {
  text-align: start;
  font-size: 18px;
  font-weight: 600;
  padding: 0.5rem 0.5rem;
}

.admin-product-details {
  display: none;
}

.product-admin-field {
  display: none !important;
  position: relative;
}
.admin-product-show-details {
  display: block;
}
.visible {
  display: block;
}
.admin-stock-menu {
  position: absolute;
  background: #525252;
  display: flex;
  width: 100%;
  flex-direction: column;
  z-index: 1;
  list-style: none;
  overflow-y: scroll;
  height: 20rem;
  overflow-x: hidden;
}
.admin-stock-select > a {
  color: black !important;
  border: 1px solid #818181;
}
.admin-stock-menu li:first-child {
  display: grid;
  grid-template-columns: 70% 30%;
  font-size: 12px;
  background: black;
  color: white;
  font-weight: bold;
}
.admin-stock-select {
  position: relative;
}
input {
  all: unset;
}

textarea:focus,
input:focus {
  outline: none;
}
.admin-stock-select a {
  text-decoration: none;
  padding: 0.5rem;
  display: block;
  color: white;
}

.admin-stock-menu input {
  color: black;
  font-size: 18px;
  border: none !important;

  border-radius: 0 !important;
}
.admin-stock-menu-item:hover {
  background: #464545;
}
.stock {
  display: grid;
  gap: 1rem;
}
.admin-product-stock {
  position: fixed;
  z-index: 1;
  background: white;
  border: 1px solid #b9b9b9;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  padding: 0.2rem;
  border-radius: 12px;
  transform: translate(-50%, -50%);
  width: 100%;
}
.admin-product-stock {
  white-space: nowrap;
}
.images-slider div {
  position: relative;
}
.admin-prod-delete-img {
  position: absolute;
  width: 24px;
  bottom: 0;
  z-index: 1;
  right: 0;
  cursor: pointer;
}
@media (min-width: 576px) {
  .product-details {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "image image  title title"
      "image image  price price"
      "image image  category category"
      "image image  tags tags"
      "description description description description"
      "size size size size"
      "quantity quantity quantity quantity"
      "total total total total"
      "buy buy buy buy";

    gap: 0.5rem;
  }

  .product-admin-field {
    display: grid !important;
  }
  .admin-product-show-details {
    display: none;
  }
  .admin-product-details {
    display: block;
  }
  #products {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .admin-product-stock {
    padding: 2rem;

    width: 80%;
  }
  .product-admin {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      "image image title title price price"
      "image image tags tags category category"
      "description description description description description description"
      "upload upload upload action action action ";
  }
  .product-admin > #prod-details-image {
    grid-area: image;
  }
  .product-admin-description {
    grid-area: description;
  }

  .product-admin-title {
    grid-area: title;
  }

  .product-admin-price {
    grid-area: price;
  }
  .product-admin-category {
    grid-area: category;
  }
  .product-admin-tags {
    grid-area: tags;
  }
  .product-admin-upload {
    grid-area: upload;
  }
  .product-admin-action {
    grid-area: action;
  }
}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .admin-product-stock {
    padding: 2rem;

    width: fit-content;
  }
  #products {
    padding: 3rem 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  .pill-option {
    font-size: 10px !important;
  }
}
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .details-field small {
    font-size: 14px;
  }
  .product-details h3 {
    font-size: 26px;
    border-bottom: 1px solid #d7d7d7;
    margin: 1rem 2rem;
    padding-bottom: 1rem;
  }
  .product-details {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      "image image image title title title"
      "image image image description description description"
      "image image image size size size"
      "image  image image quantity total buy"
      "tags tags tags category category category";

    gap: 0.5rem;
  }
  .description p {
    font-weight: lighter;
    padding: 1rem 0rem;
  }
  .product-details-tags,
  .category {
    padding-top: 2rem;
  }
  .product-details-size {
    padding: 0rem;
  }
  .details-field small {
    padding: 0.2rem;

    margin: auto;
  }
  /* .details-field {
    display: grid;
    grid-template-columns: 1fr 1fr;
  } */
  .details-field h4 {
    padding-bottom: 0rem;
    border-bottom: none;
    margin: 0rem;
  }
  .product-admin-field {
    display: block;
  }
  #products {
    padding: 3rem 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
  .product-admin {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);

    grid-template-areas:
      "image  title price category tags"
      "description description description  description description"
      "upload upload action  action action";
  }
}
/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .sizes div {
    padding: 0.5rem 0rem;
  }
  .sizes a {
    font-size: 10px;
  }
  .sizes small {
    font-size: 8px;
  }
  .product-details-total p {
    white-space: nowrap;
  }
  .quantity-selector-details a,
  .quantity-selector-details span {
    padding: 0.5rem;
    border-radius: 12px;
  }
  .prod-details-buy a {
    padding: 0.5rem;
    font-size: 16px;
  }
  .sizes div:nth-child(2) {
    gap: 0.2rem;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  }
  .product-details {
    gap: 1rem;
    padding: 2rem;
  }
  #products {
    padding: 3rem 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
  }

  .product-admin {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(8, 1fr);

    grid-template-areas:
      "image  image  title  title price category tags tags"
      "image  image description description description  description upload action";
  }
}
