<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Inventory Notification</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        color: #333333;
      }
      h1 {
        color: #333333;
      }
      table {
        border-collapse: collapse;
        width: 100%;
        color: #333333;
      }
      p {
        color: #333333;
      }
      thead {
        background: #82add3;
      }
      th,
      td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
    </style>
  </head>
  <body>
    <h1>Deleted Reservations Notification</h1>
    <p>Dear,</p>
    <p>Deleted Reservations Details:</p>

    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>0</td>
          <td>Salt</td>
          <td>g</td>
        </tr>
      </tbody>
    </table>

    <p>
      Please take the necessary steps to replenish the inventory and ensure
      availability.
    </p>

    <p>Best regards<br /></p>
  </body>
</html>
